.text-center {
    text-align: center;
    font-size: 2em;
}

.title {
    font-size: 2.5em;
    text-align: center;
}

li{
    text-align: center;
    font-size: 1.5em;
}

.link {
    text-decoration: none;
}

.paragraph {
    font-size: 1.5em;
    text-align: inherit;
}

form {
   padding: 3em 5em;
   margin: 5em auto 20em;
   width: 200px;
   border: 1px solid black;
}

.resources {
    text-align: center;
    font-size: 1.75em;
}

.resourceLinks {
    font-size: 0.75em;
    text-align: center;
}

input, button, li {
    display: block;
    
}